*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      max-width: 1600px;
  margin: 0 auto;
  /* background-color: #1A0B2E;; */
}


.hamburger-menu{
    display: none;
}
.display-flex{
    display: flex;
}

   .navber {
    justify-content: space-around;
    align-items: center;
    background-color: #412567;  
}


.brand{
    color: #FAFAFA;
    font-size: 2rem;     
}


.nav-text{
    
  background: linear-gradient(
    180deg,
    #F7E93F 10%,
    #FB09B4 51%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
    
}
.navbar{
    max-width: 1600px;
    margin: 0px auto

}
/* start */
.nav-btn:hover{
     background: linear-gradient(90deg,green 0%,red 51%,#9100F8 100%);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(106, 63, 160, 0.4);
}

.nav-btn:hover img{
    transform: translateX(5px) scale(1.1);
}

.btn-2:hover{
    background-color: red;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(106, 63, 160, 0.4);
}

.btn-2:hover img{
    transform: translateX(5px) scale(1.1);
}
.btn-1:hover{
     background: linear-gradient(90deg,green 0%,red 51%,#9100F8 100%);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(106, 63, 160, 0.4);
}

.btn-1:hover img{
    transform: translateX(5px) scale(1.1);
}

/* animation */
.nav-btn{
    border-radius: 30px;
    padding: 16px 12px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 135px;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF; 
}
.hassan{
    background: linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
}

/* 2nd part start hoise mic use part kor */


.mic-main-container{
     display: flex; 
     align-items: center; 
     justify-content: center;

}
.circle{
    position: relative;
    width: 400px;
  height: 400px;
  margin-top: 5%;
  
}
.circle-img{
width: 100%;
height: 100%;
display: block;
}
.microphone-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mic-text{
    font-size:3.8rem ;
    font-weight: 800;
    color: #FFFFFF;
}
.mic-text-2{
    color: #FFFFFF;
    font-size: 1rem;
}
.main-container{
   max-width: 1600px;
      background-image: url(./assets/hero-bg.png);
      background-repeat: no-repeat; 
       background-size: cover;
  background-position: center;     
}
.btn-1{
    
    border-radius: 30px;
    padding: 16px 12px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgba(251, 9, 180, 1);
    color: #FFFFFF; 
   
}
.button{
    gap: 10px;
    padding: 20px 20px;
}
.btn-2{
    color:#00FF88 ;
    font-size: 1rem;
    font-weight: 500;
    background-color: #412567;
 height: 44px;
 border-radius: 30px;
 width: 147px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 8px;
}
.mic-container-image{
     display: flex;
     flex-direction: column;
    justify-content: center;
     align-items: center;
    text-align: center; 
    margin-top: 30px;
    padding:  20px 20px;
}

/* 3rd section start hoise  */
.banner-text{
    font-size: 2.8rem;
    font-weight:bold ;
    color: #FFFFFF;
}
.banner-text-2{
    line-height: 20px;
font-size: 1rem;
color: #FFFFFF;
}
.main-banner-container{
    text-align: center;
    /* margin-top: 50px; */
    padding-top: 50px;
}

.icon{
    margin-top: 60px;
    align-items: center;
    gap: 100px;
    text-align: center;
    justify-content: center;
    /* margin-bottom: 100px; */
    padding-bottom: 100px;
}
.icon-text{
    color: #FFFFFF;
}

/* 4th card section start hoise  */


.main-card-container{
    background-color: #230E3D;
display: flex;
flex-direction: column;
align-items: center;
   
}
.card-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: #FFFFFF;
    padding-top: 120px;
    text-align: center;
    
}


.card-1{
    /* width: 380px; */
    color: #FFFFFF;
    gap: 16px;
    padding: 40px 40px;
    border-radius: 40px;
    border: 1px solid #351165 ;
    
}
.card-h{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
   
}
.card-p{
    line-height: 24px;
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 10px;
  
}

.card-container{    
   height: 1000px;
    width: 790px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
   padding: 40px;
 
}

.normal-layout{
    grid-column: span 2;
    grid-row: span 1;
  
    
}
.high-layout{
    grid-column: span 1;
    grid-row:span 2 ;
}




/* video-title start hoise */

.video-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: #FAFAFA;
    text-align: center;
    /* margin-top: 100px; */
    padding-top: 50px;
}
.video-text{
    font-weight: bold;
    font-size: 1.8rem;
    color: #FAFAFA;
    padding-left: 10px;
}
.video-p{
    line-height: 24px;
    font-size: 1rem;
    color: #FAFAFA;
     padding-left: 10px;
}
.video-desing{
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 4px;
     padding-left: 10px;
}
.video-card-1{
    border: 1px solid #1A0B2E ;
    border-radius: 30px;
     box-shadow: 0 8px 24px rgba(0,0,0,0.3);
    padding: 10px 10px;
   
    
}
.video-main-container{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    /* width: 1600px; */
    
}

/* footer age part korbo */

.host-banner-container{
    background-color: #351165;
    border-radius: 20px;
margin: 0px 160px;


}



.host-main-title{
    text-align: center;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 100px;
    /* margin-top: 100px; */
}

.host-title{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
  
}

.host-text{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 34px;
    
}

.image-board{
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-top: 20px; 
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 40px;
}

/* footer part start hoise */



.footer-title{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 20px;
}
.footer-bg{
    padding-bottom: 40px;
}


.brand-2{
    font-weight: bold;
    font-size: 2.8rem;
    color: #FFFFFF;
    text-align: center;
}
.footer-desing{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFFFFF;
    justify-content: center;
}
.footer-main-container{
    background-color: #1A0B2E;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/footer-bg.png);
      background-size: cover;
  background-position: center;
    height: 412px;
    
}
.footer-logo{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
   /* padding-top: 30px; */
    justify-content: center;
    
}
.footer-last-text{
    color: #FAFAFA;
    line-height: 24px;
    font-size: 1rem;
    margin-top: 40px;
    text-align: center;
}

.board{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #533C72;
}

footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 20px; 
  
}

.hamburger-menu{
    position: relative;
    display: none;
    right: 10px;
}



@media screen and (max-width:576px){


/* footer section use korsi */
    /* .navber {
      flex-direction: column;
      gap: 15px;
      padding: 10px 0;
  } */
  
  /* .nav-links {
      flex-direction: column;
      gap: 10px;
  } */
.navber{
    display: flex;
    justify-content: space-between;
}
  .hamburger-menu{
    display: block;
  }
     
  .nav-links{
    display: none;
  }
  .nav-btn{
    display: none;
  }
 
  .nav-item {
      margin-right: 0;
  }


  .mic-main-container {
      flex-direction: column;
      /* margin-top: 20px; */
  }

  .circle {
      width: 250px;
      height: 250px;
  }

  .mic-text {
      font-size: 2rem;
      text-align: center;
  }

  .mic-text-2 {
      font-size: 1.2rem;
      text-align: center;
  }
  .button {
      gap: 10px;
  }
  .main-banner-container{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    font-size: 1.2rem;
  }
.icon{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* padding: 30px 20px ; */
    gap: 20px;
}
.card-title{
    font-size: 1.6rem;
}

.card-container{
    width: 90%;
display: flex;
flex-direction: column;
 gap: 15px;
 height: 1600px;
 gap: 20px;

}



  /* Video section */

/* br tag ke remove korar jono use hoise  */
.mic-text-2{
    font-size: 0.7rem;
}
.banner-text-2{
    font-size: 0.6rem;
    padding: 0 auto;
   
 
}
  .but{
    display: none;
}
  .video-main-text{
    padding-top: 100px;
  }
  .video-main-container {
    display: grid;
  grid-template-columns: repeat(1,1fr);
      gap: 20px;
      align-items: center;
     
      margin: 0 auto;
  }
  .video-card-1 iframe {
      width: 100%;
  }
.video-text{
    font-size: 1rem;
    font-weight: bold;
}


.video-p{
    font-size: 0.5rem;
    line-height: 15px;
}

/* host part start hoise  */ */


.host-banner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: start;
}
.image{
    width: 100%;
    display: flex;
    flex-direction: column;
   
     justify-content: start;

}



.host-banner-container {
      flex-direction: column;
      margin: 20px;
      padding: 10px;
  }


.host-main-title{
    font-size: 1.5rem;
}
      .host-text {
      font-size: 0.6rem;
      line-height: 1rem;
  }
      .host-title {
      font-size: 1.8rem;
      text-align: center;
     
  } 
  .image{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 20px;
  } 

.image-board{
    display: flex;
       justify-content: center; 
    align-items: center; 
}




/* footer start hoise */

  .footer-title {
        font-size: 1.6rem;   /* smaller title */
        padding-bottom: 10px;
    }
       .footer-logo {
                      display: grid;
                      grid-template-columns: repeat(2,1fr);
        font-size: 1rem;
        padding: 10px 10px;
        gap: 10px;
        
        width:100%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
    }
    .board {
        padding: 8px;             
        border-width: 1.5px;
    }

    footer {
        padding: 40px 10px;      
    }

    .footer-last-text {
        font-size: 0.8rem;
        margin-top: 20px;
        line-height: 18px;
    }
}



